<h3>{{title}}</h3>

<form method="POST" action="/techie" autocomplete="off">
    <div>
        <input type="text" name="name">
    </div>
    <div>
        <input type="text" name="contact">
    </div>
    <div>
        <input type="text" name="expert">
    </div>
    <div>
        <input type="text" name="exp">
    </div>
    <div>
        <input type="text" name="commercial">
    </div>
    <div>
        <button type="submit">Insert</button>
    </div>
</form>